body {
    margin : 0;
    padding: 0;
}

.plantDatas {
    .content {
        padding         : 40px 250px;
        background-color: #f0f2f0;
        display         : flex;
        justify-content : space-between;

        .main_content {
            background-color: white;
            width           : 74%;

            .timeData {
                display  : block;
                font-size: 20px;
                margin   : 20px 20px;
            }
        }

        .leftNavPane {
            width: 25%;
        }



        .environmental_data {
            .weather_thermometer {
                display        : flex;
                align-items    : center;
                padding        : 0px 23px;
                justify-content: space-between;

                div {
                    text-align: center;
                }
                .myWeather{
                    width: 75%;
                }
                .myThermometer {
                    width: 10%;
                }
            }

            .myHygrometer {
                width: 10%;
                .thermometer .thermometer__draw-b:after,
                .thermometer .thermometer__draw-b:before {
                    background-color: #2196F3;
                }

                .thermometer .thermometer__bg-color {
                    background: linear-gradient(#135a91, #1a78c2, #2196F3);
                }
            }

            .three_days_tempAndhumidity,
            .three_day_waterAndSun {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                padding        : 20px 20px;
            }
        }

        .garden_data {
            font-size: 15px;

            .garden_search {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                width          : 311px;
                margin         : 20px 30px;
            }

            .ant-btn-primary {
                background-color: #4c903f;
                border-color    : #4c903f;
            }

            .ant-btn-primary:hover,
            .ant-btn-primary:focus {
                background-color: #52a941;
                border-color    : #52a941;
            }

            .garden_result {
                margin : 20px 30px;
                display: flex;
            }

        }

        .history_data {
            .history_choose {
                .point_attribute {
                    display    : flex;
                    align-items: center;
                    margin     : 20px 30px;
                    width      : 500px;

                    justify-content: space-between;
                }

                .year {
                    width          : 500px;
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;
                    margin         : 20px 30px;
                }
            }

            .history_result {
                display    : flex;
                align-items: center;
            }
        }

        .pestsAndDiseases_data {
            margin   : 20px 30px;
            font-size: 15px;

            .pests_data {
                margin-bottom: 20px;
                .pests_titie {
                    span {
                        display    : flex;
                        align-items: center;

                        .anticon {
                            font-size   : 18px;
                            margin-right: 5px;
                        }
                    }

                    .diving_line {
                        margin          : 5px 0px;
                        height          : 1px;
                        background-color: #dee4dd;
                    }

                }
                .pests_content{
                    display: flex;
                    width: 100%;
                    overflow-y: auto;
                    height: 550px;
                    flex-wrap: wrap;
                    .pestBox{
                        cursor: pointer;
                        width: 30%;
                        margin-right: 3%;
                        height: 344px;
                        margin-bottom: 10px;
                        text-align: center;
                        background-color: #dee4dd;
                        .pestImg { 
                            height: 90%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .diseases_data {
                .diseases_titie {
                    span {
                        display    : flex;
                        align-items: center;

                        .anticon {
                            font-size   : 18px;
                            margin-right: 5px;
                        }
                    }

                    .diving_line {
                        margin          : 5px 0px;
                        height          : 1px;
                        background-color: #dee4dd;
                    }

                }
                .diseases_content{
                    display: flex;
                    width: 100%;
                    overflow-y: auto;
                    height: 550px;
                    flex-wrap: wrap;
                    .diseaseBox{
                        cursor: pointer;
                        width: 30%;
                        margin-right: 3%;
                        height: 344px;
                        margin-bottom: 10px;
                        text-align: center;
                        background-color: #dee4dd;
                        .diseaseImg { 
                            height: 90%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

        }

        .paneShow {
            display       : block;
            padding-bottom: 20px;
        }

        .paneHide {
            display: none;
        }
    }


}