@import '~antd/dist/antd.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size  : 15px;
    box-sizing : border-box;
}

.top_nav {
    .nav_top {
        height          : 30px;
        padding         : 3px 250px;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        background-color: #eee;

        .login_register {
            display        : flex;
            justify-content: center;
            align-items    : center;

            span {
                margin : 0 5px;
                display: flex;

                i {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    margin         : 0 5px;
                }
            }

        }
    }
}



.menu {
    height         : 100px;
    padding        : 0 5%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .logo {
        width          : 22%;
        // height      : 70px;
        margin-right   : 100px;

        img {
            max-width: 300px;
        }
    }
}

.menu_item {
    margin-bottom: 3px;
    width: 750px;
}

.ant-menu {
    font-size: 17px;

    .item {
        background-color: #4c903f;
        color           : white;
    }

    .ant-menu-item:not(:last-child),
    .ant-menu-item:not(:first-child) {
        margin-top   : 0px !important;
        margin-bottom: 0px !important;
        border       : none;
    }

    .ant-menu-item:hover {
        color: black;
    }

    .ant-menu-item-selected {
        border-bottom: 2px solid #4c903f;
        color: black;

        .ant-menu-item,
        .ant-menu-submenu-title {
            padding: 0 40px;
        }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
        padding: 0 30px;
    }

    .ant-menu-submenu .ant-menu {
        background-color: #4c903f;
    }

    .ant-menu-submenu-title:hover {
        color: black;
    }

    .ant-menu-submenu-active,
    .ant-menu-submenu:hover {
        border-bottom: 2px solid #4c903f;
        color        : black !important;
    }

    .ant-menu-submenu-selected {
        color        : black;
        border-bottom: 2px solid #4c903f;
    }

    .ant-menu-horizontal {
        border-bottom: none;

        .ant-menu-item:hover {
            color: black;
        }




    }

    .ant-menu-submenu-popup {
        background-color: #4c903f;
    }

}



.ant-menu-sub {

    .ant-menu-item:hover,
    .ant-menu-item-active,
    .ant-menu-item-selected {
        color           : black;
        border-bottom   : 2px solid #4c903f;
        background-color: #1f7d0d !important;
        border          : none;
    }


}