@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
//走马灯
.Carousels {
  position: relative;
  height: 580px;
  background-color: grey;
}

.ant-carousel {
  .slick-slide {
    text-align : center;
    height     : 580px;
    // overflow   : hidden;
    position: relative;
  }
}

.carousel-img {
  // max-width: 100%;//按比例缩放图片
  width    : 100%;
  position: absolute;
  top: 50%;
  height: 580px;
  transform: translate(0,-50%);
}
//定义指示点大小
.ant-carousel .slick-dots li button {
  width: 30px;
}
//当前指示点大小
.ant-carousel .slick-dots li.slick-active button {
  width: 34px;
}

.ant-carousel .slick-dots-bottom {
  margin-bottom: 30px;
}
//左右箭头样式
.leftArrow,
.rightArrow {
  position        : absolute;
  top             : 50%;
  margin-top      : -30px;
  width           : 60px;
  height          : 60px;
  border-radius   : 50%;
  background-color: rgba(46, 53, 68, .2);
}

.leftArrow {
  left: 30px;
}

.rightArrow {
  right: 30px;
}

.leftArrow {
  .b {
    transform: translateX(6px);
  }

  b:after {
    border-right : 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transform    : rotate(135deg);
  }
}

.rightArrow {
  .b {
    transform: translateX(-6px);
  }

  b:after {
    border-left: 2px solid rgba(255, 255, 255, .2);
    border-top : 2px solid rgba(255, 255, 255, .2);
    transform  : rotate(135deg);
  }
}

.leftArrow:hover {
  background-color: rgba(25, 29, 39, 0.5);

  b:after {
    border-right : 2px solid white;
    border-bottom: 2px solid white;
  }
}

.rightArrow:hover {
  background-color: rgba(25, 29, 39, 0.5);

  b:after {
    border-left: 2px solid white;
    border-top : 2px solid white;
  }
}

.leftArrow,
.rightArrow {
  .b {
    width         : 30px;
    height        : 30px;
    box-sizing    : border-box;
    overflow      : visible;
    vertical-align: middle;
    position      : relative;
  }

  b:after {
    content   : '';
    box-sizing: border-box;
    position  : absolute;
    left      : 50%;
    top       : 50%;
    width     : 100%;
    height    : 100%;
  }
}